* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  height: 768px;

  display: flex;
  flex-direction: column;

  /* background-color: red; */
}

.top-content {
  font-family: Arial, Helvetica, sans-serif;

  background-color: blue;
}

.top-content ul {
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 24px;

  list-style-type: none;
  /* background-color: green; */
}

.top-content ul li {
  padding: 22px;

  background-color: #fafafa;
}

.top-content ul li a {
  all: unset;
}

.top-content ul li .list-item-header {
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 18px;

  /* background-color: pink; */
}

.top-content ul li h3 {
  /* background-color: yellow; */
  font-size: 20px;
}

.top-content ul li p {
  width: 250px;
  /* background-color: orange; */
  line-break: break-word;
  line-height: 22px;

  color: #000000a3;
  font-size: 16px;
  font-weight: normal;
}

.explore-content {
  display: flex;
  justify-content: center;
  gap: 50px;

  font-family: Arial, Helvetica, sans-serif;
}

.explore-content .explore-content-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.explore-content .explore-content-item h3 {
  margin-bottom: 20px;

  font-size: 20px;
}

.explore-content .explore-content-item p {
  width: 340px;

  margin-bottom: 18px;
  line-break: break-word;
  line-height: 24px;

  color: #000000a1;
  font-size: 16px;
  font-weight: normal;
}

.explore-content .explore-content-item:last-of-type p {
  width: 100%;
}

.explore-content .explore-content-item > img {
  width: 600px;
  height: 300px;

  margin-bottom: 24px;

  object-fit: cover;
}

.explore-content .explore-content-item a {
  all: unset;
  width: 80px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.explore-content .explore-content-item a .icon {
  width: 18px;
  height: 18px;

  stroke-width: 2;

  font-weight: bold;
}

.explore-content .explore-content-item a span {
  font-size: 16px;
  color: #000000;
  font-weight: bold;
}
